.cart-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF6F3;
  padding: 20px;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.cart-card {
  background-color: #FFF6F3;
  border-radius: 16px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

.cart-img {
  width: 100%;
  border-radius: 12px;
  padding-bottom: 10px;
}

.cart-btn {
  background-color: #884D68;
  color: #FFF6F3;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

.cart-btn:hover {
  background-color: #B96E90;
  transform: scale(1.05); 
}
