.home-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF6F3;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 75vh;
}

.home-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  text-align: left;
  color: #e0cfd6;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-container h2 {
  font-size: 2rem;
  margin: 20px 0 10px;
}

.home-container p {
  font-size: 1.2rem;
}

.featured-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
.hero-btn {
  background-color: transparent; 
  color: #e0cfd6;
  border: 2px solid #e0cfd6;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #884D68;  
  border: 2px solid #884D68;
  color: #FFF6F3; 
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(136, 77, 104, 0.3);
}

.bestseller{
  color: #884D68;
  font-size: 1.5rem;
  font-weight: bolder;
}

.bestsellerp{
  color: #4B3351;
}
